<section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
        <h3 class="title is-2">About Me</h3>
        <h4 class="subtitle is-5">Jack of all trades, master of "some"</h4>
        <div class="container">
            <p>Web developer with more than <strong> <span id="yrsOfExp"></span> years</strong> of well-rounded
                experience with a degree in the field of
                <strong>Mechanical Engineering</strong>, extensive knowledge of modern Web techniques and love for
                <strong>Coffee</strong>. Looking for an opportunity to work and upgrade, as well as being involved in an
                organization that believes in gaining a competitive edge and giving back to the community.
            </p>
        </div>
    </div>
    <div class="columns has-same-height is-gapless">
        <div class="column">
            <!-- Profile -->
            <div class="card">
                <div class="card-content">
                    <h3 class="title is-4">Profile</h3>
                    <div class="content">
                        <table class="table-profile">
                            <tbody>
                                <tr>
                                    <th colspan="1"></th>
                                    <th colspan="2"></th>
                                </tr>
                                <tr>
                                    <td>Location:</td>
                                    <td>Chennai, Tamilnadu</td>
                                </tr>
                                <!-- <tr>
                         <td>Phone:</td>
                         <td>0123-456789</td>
                         </tr> -->
                                <tr>
                                    <td>Email:</td>
                                    <td>kumaranpassion2work@outlook.in</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="buttons has-addons is-centered">
                        <a href="https://github.com/muthukumaran-m" class="button is-link" target="_blank">Github</a>
                        <a href="https://www.linkedin.com/in/muthukumaran-muthiah-a59311173/" class="button is-link"
                            target="_blank">LinkedIn</a>
                        <a href="https://twitter.com/softwrmachinist" class="button is-link" target="_blank">Twitter</a>
                        <!-- <a href="#" class="button is-link">Mechu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- Profile picture -->
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="assets/dp.png" alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <!-- Skills -->
            <div class="card">
                <div class="card-content skills-content">
                    <h3 class="title is-4">Skills</h3>
                    <div class="content">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>HTML5 / CSS3</strong>
                                        <br>
                                        <progress class="progress is-primary" value="95" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>PHP / Laravel:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="90" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Javascript:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="90" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>SQL / MySql</strong>
                                        <br>
                                        <progress class="progress is-primary" value="75" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Vue.js:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="50" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <!-- <article class="media">
                      <div class="media-content">
                          <div class="content">
                              <p>
                                  <strong>Laravel:</strong>
                                  <br>
                                  <progress class="progress is-primary" value="65" max="100"></progress>
                              </p>
                          </div>
                      </div>
                      </article> -->
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Angular:</strong>
                                        <br>
                                        <progress class="progress is-primary" value="20" max="100"></progress>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>