<section class="section" id="portfolio">
    <div class="container">
        <div class="section-heading">
            <h3 class="title is-2">Portfolio</h3>
            <h4 class="subtitle is-5">My latest works from my hobby</h4>
        </div>
        <br>
        <div class="container portfolio-container">
            <div class="columns">
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span>Idea2Art-Drawing without the hassle<small></small> Using Laravel,mxGraph and Bulma
                                    CSS</span>
                                <span class="is-pulled-right">
                                    <a href="https://idea2art.herokuapp.com/" target="_blank">
                                        <span class="tag is-default">beta</span>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <img src="assets/i2a.png" alt="Idea2Art-Drawing without the hassle">
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <a href="https://idea2art.herokuapp.com/" class="card-footer-item"
                                target="_blank">Preview</a>
                            <a title="Its my own application So I am keeping the source as private.You are open to use it"
                                class="card-footer-item">Source
                                Code</a>
                        </footer>
                    </div>
                    <!-- forum -->
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span>Chikmangalur trip story by kumaran</span>
                                <span class="is-pulled-right">
                                    <a href="https://muthukumaran-m.github.io/chickmangalur-trip-story/">
                                        <span class="tag is-default">v1</span>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <img src="assets/tripstory.png" alt="Hero template screenshot">
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <a href="https://muthukumaran-m.github.io/chickmangalur-trip-story/"
                                class="card-footer-item">Preview</a>
                            <a href="https://github.com/muthukumaran-m/chickmangalur-trip-story"
                                class="card-footer-item">Source Code</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span>Library Management System [Template]<small></small> Using VueJS and Bulma
                                    CSS</span>
                                <span class="is-pulled-right">
                                    <a href="https://muthukumaran-m.github.io/libsys/">
                                        <span class="tag is-default">v1</span>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <img src="assets/libsys.png" alt="Admin template screenshot">
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <a href="https://muthukumaran-m.github.io/libsys/" class="card-footer-item">Preview</a>
                            <a href="https://github.com/muthukumaran-m/libsys" class="card-footer-item">Source
                                Code</a>
                        </footer>
                    </div>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span>My portfolio</span>
                                <span class="is-pulled-right">
                                    <a href="https://muthukumaran-m.github.io/">
                                        <span class="tag is-default">v1</span>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <img src="assets/folio.png" alt="Cards template screenshot">
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <a href="https://muthukumaran-m.github.io/" class="card-footer-item">Preview</a>
                            <a href="https://github.com/muthukumaran-m/muthukumaran-m.github.io"
                                class="card-footer-item">Source
                                Code</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-4">
                    <!-- blog -->
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span>Super Hero app using VueJS, Bulma CSS and superhero API</span>
                                <span class="is-pulled-right">
                                    <a href="https://muthukumaran-m.github.io/super-heroes/">
                                        <span class="tag is-default">v1</span>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <img src="assets/superhero.png" alt="Cards template screenshot">
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <a href="https://muthukumaran-m.github.io/super-heroes/"
                                class="card-footer-item">Preview</a>
                            <a href="https://github.com/muthukumaran-m/super-heroes" class="card-footer-item">Source
                                Code</a>
                        </footer>
                    </div>
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span>Super hero app Documentation</span>
                                <span class="is-pulled-right">
                                    <a href="https://sites.google.com/view/superhero-mukun/home">
                                        <span class="tag is-default">v1</span>
                                    </a>
                                </span>
                            </p>
                        </header>
                        <div class="card-content">
                            <figure class="image is-16by9">
                                <img src="assets/superherodoc.png" alt="Blog template screenshot">
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <a href="https://sites.google.com/view/superhero-mukun/home"
                                class="card-footer-item">Preview</a>
                            <a href="https://sites.google.com/view/superhero-mukun/home" class="card-footer-item">Source
                                Code</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>