<section class="section" id="services">
    <div class="section-heading">
        <h3 class="title is-2">Services</h3>
        <h4 class="subtitle is-5">What can I do?</h4>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Front End Web Development</h4>
                        Develop Front End using latest standards with HTML5/CSS3 with added funtionality using
                        JavaScript / Vue.js / Angular JS and added styles using Bootstrap / Bulma CSS.
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h4 class="title is-5">Back End Web Development</h4>
                        Develop Back End application/service using PHP and/or Laravel and SQL server or MySql databases
                        by following the advanced programming standards.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>